body {
  min-height: 2000px;
  padding-top: 70px;
}


.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.navbar-white {
  background-color: white;
  border-color: gray;
}

.color-white{
  color: gray;
}

.navbar-black {
  background-color: black;
  border-color: black;
}

.color-black{
  color: white;
}

.navbar-red {
  background-color: red;
  border-color: red;
}

.color-red{
  color:white;
}

.navbar-blue {
  background-color: blue;
  border-color: white;
}

.color-blue{
    color: white;
}

.navbar-green {
  background-color: green;
  border-color: white;
}

.color-green{
    color: black;
}



.navbar-yellow {
  background-color: yellow;
  border-color: white;
}

.color-yellow{
    color: black;
}

.navbar-blue {
  background-color: #0066bd;
  border-color: #080808;
}


.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #0066bd;
}